@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
}

::-webkit-scrollbar{
    width: 3px;
    border-radius: 25px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #ddd;
}

::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}

.wrapper{
    width:370px ;
    background:whitesmoke;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-top: 0px;
}

.wrapper .title{
    background-color: #345;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid rgb(33, 48, 63);
}

.wrapper .form{
    padding: 20px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.wrapper .form .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}

.wrapper .form .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}

.wrapper .form .inbox .icon{
    height: 40px;
    width: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background:#345;
}

.wrapper .form .inbox .msg-header{
    max-width: 53%;
    margin-left: 10px;
}

.form .inbox .msg-header p{
    color: white;
    background: #345;
    border-radius: 8px 10px;
    font-size: 14px;
    padding: 8px 10px;
    word-break: break-all;
}

.wrapper .typing-field{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: wheat;
    border-radius: 0 0 5px 5px;
    justify-content: space-evenly;
    background: #efefee;
    border-top: 1px solid #d9d9d9;
}

.wrapper .typing-field .input-data{
    height: 40px;
    width: 335px;
    position: relative;
}
.wrapper .typing-field .input-data input{
    height: 100%;
    outline: none;
    border: 1px solid transparent;
    width: 100%;
    padding: 0 80px 0 15px;
    font-size: 15px;
    background: white;
    border-radius: 3px;
}

.wrapper .typing-field .input-data button{
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    background: #345;
    color: white;
    border: 1px solid #345;
    transform: translateY(-50%);
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.typing-field .input-data button:hover{
    background: #345;
}

.typing-field .input-data input:focus{
    border-color: rgb(33, 48, 63);
}

.input-data input::placeholder{
    color: #999999;
    transition: all 0.3s ease;
}

.input-data input:focus::placeholder{
    color: #bfbfbf;
}

.wrapper .typing-field .input-data  input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}

.form .user-inbox .msg-header p{
    color: #1a1919;
    background: #efefee;
}